.auto-area {
    width: 200px;
    height: 60px;
}
input {
    border: none;
    width: 150px;
}
input:focus {
    outline: none;
}
.search-area {
    border: 1px solid black;
    min-height: 45px;
    border-radius: 4px;
    padding-right: 4px;
    padding-left: 4px;
    display: flex;
    flex-direction: row;
    flex: 1 1;
}
.button-area {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    flex: 1 1;
}
.options-area {
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 100;
    background-color: white;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
.clear-button {
    display: none !important;
}
.search-area:hover .clear-button {
    display: block !important
}
button:focus {
    border: none !important;
}
.option {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.options:hover {
    background-color: #6c757d;
    cursor: pointer;
}
.option {
    padding: 5px
}
.btn {
    padding: 0 !important
}